.dashboard-card-header{
    background-color: #e74c3c;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: large;
}

.dashboard-list-group-item{
    padding: 0.6rem 1rem;
    font-family: Roboto, sans-serif;
}

.modal-title{
    font-size: 1.5rem;
}

.ui-icon { transition: all .9s ease-in-out; }
.ui-icon:hover { 
    transform: rotateY(180deg);
    transition: 0.9s;

 }
 .ui-icon-grow { transition: all .1s ease-in-out; }
 .ui-icon-grow:hover
 {
         -webkit-transform: scale(1.05);
         -ms-transform: scale(1.05);
         transform: scale(1.05);
 }
 
 
